<!--  footer --> 
<footer>
    <div class="footer">
       <div class="container">
          <div class="row">
             <div class="col-lg-2 col-md-6 col-sm-12 width">
                <div class="address">
                   <h3>Dirección</h3>
                   <i><img src="3.png">Ubicación</i>
                </div>
             </div>
             <div class="col-lg-2 col-md-6 col-sm-12 width">
                <div class="address">
                   <h3>Menu</h3>
                   <i><img src="2.png">Desplegar</i>
                </div>
             </div>
             <div class="col-lg-2 col-md-6 col-sm-12 width">
                <div class="address">
                   <h3>Enlaces de interés</h3>
                   <i><img src="1.png">Enlaces</i>
                </div>
             </div>
             <div class="col-lg-2 col-md-6 col-sm-12 width">
                <div class="address">
                   <h3>Redes Sociales </h3>
                   <ul class="contant_icon">
                      <li><img src="fb.png" alt="icon"/></li>
                      <li><img src="tw.png" alt="icon"/></li>
                      <li><img src="lin(2).png" alt="icon"/></li>
                      <li><img src="instagram.png" alt="icon"/></li>
                   </ul>
                </div>
             </div>
         </div>
       </div>
       <div class="copyright">
          <p>Copyright 2024 Derechos reservados a Sthiberson Preciado.<a href="https://html.design/"> By Crece Upao 6to Ciclo</a></p>
       </div>
    </div>
 </footer>