<div id="about" class="about">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>Acerca de Nosotros</h2>
                <span>Somos un grupo de estudiantes que cursa el 6to ciclo de la carrera de Ingeniería de Computación y Sistemas. Esta iniciativa es parte del curso de Sistemas de información transaccionales. </span>
             </div>
          </div>
       </div>
    </div>
    <div class="container-fluid">
       <div class="row flexcss">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
             <div class="about-box">
                <h3>¿Por qué esta iniciativa? </h3>
                <p>JobHub nace de la necesidad de un sitio web que permita buscar oportunidades laborales de forma sencilla, sin tantas complicaciones. Las personas que buscan trabajo necesitan una herramienta práctica en la web que les permita realizar búsquedas de manera sencilla y eficiente. Por otro lado las empresas que buscan candidatos para cubrir sus vacantes laborales también necesitan hacerlo de forma rápida y eficaz, con la finalidad de llegar a las personas de forma precisa. Con esto en mente, hemos enfocado nuestras mentes en proveedor especialmente eso, sencillez y practicidad, que seguramente habrán otras opciones más polivalentes, pero para gustos, colores.</p>
             </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
             <div class="about-img">
                <figure><img src="eqpJobHub.jpeg" alt="img"/></figure>
             </div>
          </div>
       </div>
       <a href="Javascript:void(0)">Leer Más</a>
    </div>
 </div>

