<!-- service --> 
      <div id="service" class="service">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Servicios </h2>
                     <span>A continuación mostramos los servicios que ofrecemos, todos pensados para brindar soporte al usuario, ya sea persona o empresa. <br>Puedes ponerte en contacto con nosotros si estás interesado en alguno de nuestros servicios.</span>
                  </div>
               </div>
            </div>
         </div>
         <div class="container margin-r-l">
            <div class="row">
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 thumb">
                  <div class="service-box">
                     <figure>
                        <a href="1b.png" class="fancybox" rel="ligthbox">
                        <img  src="1b.png" class="zoom img-fluid "  alt="">
                        </a>
                        <span class="hoverle">
                        <a href="1b.png" class="fancybox" rel="ligthbox">Tips</a>
                        </span>  
                     </figure>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 thumb">
                  <div class="service-box">
                     <figure>
                        <a href="2.jpg" class="fancybox" rel="ligthbox">
                        <img  src="2.jpg" class="zoom img-fluid "  alt="">
                        </a>
                        <span class="hoverle">
                        <a href="2.jpg" class="fancybox" rel="ligthbox">Buscar ofertas</a>
                        </span>
                     </figure>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 thumb">
                  <div class="service-box">
                     <figure>
                        <a href="3.jpg" class="fancybox" rel="ligthbox">
                        <img  src="3.jpg" class="zoom img-fluid "  alt="">
                        </a>
                        <span class="hoverle">
                        <a href="3.jpg" class="fancybox" rel="ligthbox">Publicar ofertas</a>
                        </span>
                     </figure>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 thumb">
                  <div class="service-box">
                     <figure>
                        <a href="4.jpg" class="fancybox" rel="ligthbox">
                        <img  src="4.jpg" class="zoom img-fluid "  alt="">
                        </a>
                        <span class="hoverle">
                        <a href="4.jpg" class="fancybox" rel="ligthbox">Cargar CV</a>
                        </span> 
                     </figure>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 thumb">
                  <div class="service-box">
                     <figure>
                        <a href="5.jpg" class="fancybox" rel="ligthbox">
                        <img  src="5.jpg" class="zoom img-fluid "  alt="">
                        </a>
                        <span class="hoverle">
                        <a href="5.jpg" class="fancybox" rel="ligthbox">Diseñar oferta</a>
                        </span> 
                     </figure>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 thumb">
                  <div class="service-box">
                     <figure>
                        <a href="6.jpg" class="fancybox" rel="ligthbox">
                        <img  src="6.jpg" class="zoom img-fluid "  alt="">
                        </a>
                        <span class="hoverle">
                        <a href="6.jpg" class="fancybox" rel="ligthbox">Elegir prospectos</a>
                        </span>
                     </figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end service -->
