<!-- Contacto -->
<div id="contact" class="contact">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h3>Contáctanos</h3>
             </div>
          </div>
       </div>
       <div class="row">
        
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 offset-md-3">
             <div class="contact">
                
                <form>
                   <div class="row">
                      <div class="col-sm-12">
                         <input class="contactus" placeholder="Nombre" type="text" name="Name">
                      </div>
                      <div class="col-sm-12">
                         <input class="contactus" placeholder="Teléfono" type="text" name="Email">
                      </div>
                      <div class="col-sm-12">
                         <input class="contactus" placeholder="Email" type="text" name="Email">
                      </div>
                      <div class="col-sm-12">
                         <textarea class="textarea" placeholder="Mensaje" type="text" name="Message"></textarea>
                      </div>
                      <div class="col-sm-12">
                         <button class="send">Enviar</button>
                      </div>
                   </div>
                </form>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- end Testimonial -->

