<section id="inicio" class="slider_section">
    <div id="myCarousel" class="carousel slide banner-main" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
             <img class="first-slide" src="banner2.jpg" alt="First slide">
             <div class="container">
                <div class="carousel-caption relative">
                   <h1>Buscador laboral online</h1>
                   <p>Si estás buscando una oferta laboral a tu medida estás en el sitio indicado. JobHub ha sido creado para facilitarte las cosas. Hacemos práctico el proceso de búsqueda de ofertas laborales. ¿Eres un empleador y buscar los mejores candidatos para cubrir tus vacantes? No hay problema, en nuestro sitio lo harás de manera sencilla, sin engorrosos procesos que te compliquen la vida.</p>
                   <a  href="Javascript:void(0)">Acceder</a>
                </div>
             </div>
          </div>
        </div>
    </div>
</section>

